<div class="container pl-0 mt-0 pt-0">
    <nav class="navbar navbar-expand-lg navbar-light pt-0">

      <a class="navbar-brand pt-0" href="#">
        <img class="mr-3" src="assets/a-3-logo.png" width="50" height="50" alt="" > <strong>Агенти Змін</strong> 
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
 

    
      <div class="collapse navbar-collapse pt-0" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto pt-0">
          <li class="nav-item  pt-0 anchor-nav">
            <a class="nav-link pt-0" href="#"> <span>Що ми робимо</span></a>
            

            <nav class="navbar navbar-expand-lg navbar-light pt-0 pl-0 secondary-nav">
    
              <div class="collapse navbar-collapse pl-0 pt-0" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto pt-0">
                  <li class="nav-item active pt-0">
                    <a class="nav-link pt-0" href="#"> <span class="sel">Концепції просторів</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link pt-0" href="#">Навігація</a>
                  </li>
                  <li class="nav-item pt-0">
                    <a class="nav-link pt-0" href="#"  role="button"  aria-expanded="false">
                      Правила вивісок
                    </a>
                  </li>
                </ul>
              </div>
            </nav>


          </li>
          <li class="nav-item">
            <a class="nav-link pt-0" href="#">Проекти</a>
          </li>
          <li class="nav-item pt-0">
            <a class="nav-link pt-0" href="#"  role="button"  aria-expanded="false">
              Контакти
            </a>
          </li>
          <li class="nav-item pt-0">
            <a class="nav-link pt-0" href="#"  role="button"  aria-expanded="false">
              Блог
            </a>
          </li>
        </ul>

        <ul class="navbar-nav  d-flex flex-row- pt-0">
            <li class="nav-item">
              <a class="nav-link pt-0" href=""> <img src="assets/social-fb.png"></a>
            </li>
            <li class="nav-item pt-0">
              <a class="nav-link pt-0" href=""> <img src="assets/social-tw.png"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link pt-0" href=""> <img src="assets/social-inst.png"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link pt-0" href=""> <img src="assets/social-yt.png"></a>
            </li>
          </ul>


      </div>
    </nav>
  </div>